:root {
  --clr-primary-1: hsl(0, 0%, 100%);
  --clr-primary-2: hsl(0, 0%, 22%);
  --clr-primary-3: hsl(0, 0%, 49%);
  --clr-primary-4: hsl(0, 0%, 98%);
  --clr-primary-5: hsl(0, 0%, 96%);
  --clr-primary-6: hsl(358, 79%, 68%);
  --clr-primary-7: hsl(0, 0%, 25%);
  --clr-primary-8: hsl(24, 89%, 54%);
  --clr-primary-9: hsl(15, 100%, 52%);
  --clr-primary-10: hsl(0, 0%, 53%);
  --clr-primary-11: hsl(0, 0%, 95%);
  --clr-primary-12: hsl(0, 0%, 22%);
  --clr-primary-13: hsl(0, 0%, 22%);
}

body {
  background: var(--clr-primary-5) !important;
  font-family: "Roboto", sans-serif !important;
}
body,
a,
p,
input,
label {
  font-family: "Roboto", sans-serif !important;
}

.bg-sec-header {
  background: url("./images/Header.jpg") no-repeat;
  min-height: 450px;
  background-size: cover;
}
.logo-img {
  width: 285px;
  height: 93px;
}
nav ul a {
  color: var(--clr-primary-1);
  font-size: 20px;
}

.wrap-post {
  background: var(--clr-primary-1);
  padding: 2rem;
}
.post-list,
.all-post-list {
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr;
}
.all-post-list {
  padding: 2rem;
}
.form-box {
  padding: 2rem 2.5rem !important;
  line-height: 3rem;
}
.form-box .form-label {
  margin-bottom: 0 !important;
  color: var(--clr-primary-7);
}
.round-btn {
  background: var(--clr-primary-8);
  padding: 0 7rem;
  border-radius: 3rem;
  margin: 0 auto;
  margin-top: 0px;
  display: block;
  margin-top: 2rem;
  color: var(--clr-primary-1);
  font-size: 18px;
  font-weight: 700;
  height: 3rem;
  border: none !important;
}
.arrow-btn {
  appearance: button !important;
}
.nav-item a {
  font-size: 18px !important;
  text-decoration: none;
  color: var(--clr-primary-1);
}
.nav-link:focus,
.nav-link:hover {
  color: var(--clr-primary-1) !important;
}

.nav-link::before {
  content: "";
  position: relative;
  width: 100%;
  height: 2px;
  bottom: -31px;
  left: 0;
  background-color: var(--clr-primary-8);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: all 0.15s ease-in-out 0s;
  display: block;
}

/* .is-active:hover::before, */
.is-active::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.card-text {
  color: var(--clr-primary-10);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
  text-align: justify;
}
.card {
  margin: 0 1.3rem;
}
.card-body {
  margin-top: 0.5rem;
}
.card-title {
  color: var(--clr-primary-2);
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}
.all-post-list {
  margin-top: 3rem;
}

.blog-page {
  margin-bottom: 3rem;
  background: var(--clr-primary-1);
}
.pagination li a {
  border: none !important;
  background: none;
  color: var(--clr-primary-2);
}
.active > .page-link,
.page-link.active,
.page-link:hover,
.page-link:focus {
  background-color: var(--clr-primary-11) !important;
  border-radius: 17px !important;
  color: var(--clr-primary-2) !important;
}
.active > .page-link,
.page-link.active {
  color: var(--clr-primary-12) !important;
  font-weight: 900;
}
.page-prev-link a,
.page-next-item a {
  color: var(--clr-primary-8) !important;
}
.page-link:focus {
  box-shadow: none !important;
}
.page-item:not(:first-child) .page-link {
  margin-left: 5px !important;
}
.page-title {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  top: 10rem;
  color: var(--clr-primary-1);
  font-size: 67px !important;
  font-weight: 700;
}
.date-cat {
  display: flex;
  justify-content: space-between;
  color: var(--clr-primary-1);
  font-style: italic;
  padding: 0 1rem;
  margin-top: -2.4rem;
}
.upload-box {
  width: 15rem;
  background-color: var(--clr-primary-4);
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.upload-box button {
  background: var(--clr-primary-3);
  border: none;
  color: var(--clr-primary-1);
  padding: 0 1.5rem;
  border-radius: 33px;
}

.form-box .form-control {
  background-color: var(--clr-primary-4);
  border: none;
  padding: 1.3rem 1rem;
}

@media screen and (min-width: 768px) {
  .post-list,
  .all-post-list {
    grid-template-columns: 1fr 1fr;
  }
  .all-post-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .all-post-list {
    grid-template-columns: 1fr 1fr;
  }
}
/*---------mobile menu style---------------*/

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: transparent !important;
  color: var(--clr-primary-13);
  padding-top: 5rem;
}

.brand-name {
  text-decoration: none;
  color: var(--clr-primary-13);
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  position: absolute;
  right: 25px;
  transform: translateY(-50%);
  display: none;
  background: none !important;
}

@media screen and (max-width: 650px) {
  .page-item:not(:first-child) .page-link {
    margin-left: 0px !important;
  }
  .pagination li a {
    border: none !important;
    background: none;
    color: var(--clr-primary-12);
    font-size: 11px !important;
  }
  .nav-link:focus,
  .nav-link:hover {
    color: var(--clr-primary-9) !important;
  }
  .nav-link::before {
    bottom: -53px;
  }
  .logo-img {
    height: auto;
    padding-left: 21px;
    width: 226px;
    margin-top: -34px;
  }
  .hamburger {
    display: block;
  }

  .navigation-menu ul {
    flex-direction: column;
    position: absolute;
    top: 6rem;
    left: 0;
    width: 100%;
    height: auto;
    background-color: var(--clr-primary-1);
    display: none;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
    border-bottom: 1px solid #ccc;
  }

  .navigation-menu li a {
    color: var(--clr-primary-13);
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu.expanded ul {
    display: block;
    z-index: 9;
  }
}
