* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  display: inherit !important;
  background: #f4f4f4 !important;
  font-family: "Roboto", sans-serif !important;
}
body,
a,
p,
input,
label {
  font-family: "Roboto", sans-serif !important;
}
nav {
  background-color: #ee6e7300 !important;
  box-shadow: none !important;
}
.bg-sec-header {
  background: url("./images/Header.jpg") no-repeat;
  background-size: auto;
  min-height: 450px;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 3rem;
}
.logo-img {
  width: 285px;
  height: 93px;
  margin-top: -26px;
}
nav ul a {
  color: #fff;
  font-size: 20px;
}
.nav-wrapper {
  padding-top: 3rem;
}
.wrap-post {
  background: #fff;
  padding: 2rem;
}
.post-list,
.all-post-list {
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr;
}
.all-post-list {
  padding: 2rem;
}
.form-box {
  background: #fff;
  padding: 2rem 2.5rem !important;
  line-height: 3rem;
}
.form-box .form-label {
  margin-bottom: 0 !important;
  color: #404040;
}
.submit-btn,
.load-more {
  background: #f27623;
  padding: 0 7rem;
  border-radius: 3rem;
  margin: 0 auto;
  margin-top: 0px;
  display: block;
  margin-top: 2rem;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 3rem;
  border: none !important;
}

.nav-item a {
  font-size: 18px !important;
  text-decoration: none;
  color: #fff;
}
.nav-link:focus,
.nav-link:hover {
  color: #fff !important;
}
.is-active::before {
  /* border-bottom: 3px solid #e95e30; */
}

.nav-link::before {
  content: "";
  position: relative;
  width: 100%;
  height: 2px;
  bottom: -31px;
  left: 0;
  background-color: #ff470b;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.15s ease-in-out 0s;
  transition: all 0.15s ease-in-out 0s;
  display: block;
}

/* .is-active:hover::before, */
.is-active::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.card-text {
  color: #868686;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
  text-align: justify;
}
.card {
  border: none !important;
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
  border-radius: 0 !important;
  margin: 0 1.3rem;
}
.card-body {
  margin-top: 0.5rem;
}
.card-title {
  color: #545252;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}
.all-post-list {
  margin-top: 3rem;
}
.pagination-sec button {
  background: #f27623;
  margin: 0 5px;
  margin-top: 0px;
  margin-top: 0px;
  color: #fff;
  font-size: 18px;
  height: 3rem;
  border: none !important;
  width: 41px !important;
}
.pagination-sec {
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.blog-page {
  margin-bottom: 3rem;
  background: #fff;
}
.pagination li a {
  border: none !important;
  background: none;
  color: #383838;
}
.active > .page-link,
.page-link.active,
.page-link:hover,
.page-link:focus {
  background-color: #f2f2f2 !important;
  border-radius: 17px !important;
  color: #383838 !important;
}
.active > .page-link,
.page-link.active {
  color: #383838 !important;
  font-weight: 900;
}
.page-prev-link a,
.page-next-item a {
  color: #f27623 !important;
}
.page-link:focus {
  box-shadow: none !important;
}
.page-item:not(:first-child) .page-link {
  margin-left: 5px !important;
}
.page-title {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  top: 10rem;
  color: #fff;
  font-size: 67px !important;
  font-weight: 700;
}
.date-cat {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-style: italic;
  padding: 0 1rem;
  margin-top: -2.4rem;
}
.upload-btn {
  width: 15rem;
  background-color: #fafafa;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.upload-btn button {
  background: #7d7d7d;
  border: none;
  color: #fff;
  padding: 0 1.5rem;
  border-radius: 33px;
}
.arrow-btn {
  appearance: button !important;
}
.form-box .form-control {
  background-color: #fafafa;
  border: none;
  padding: 1.3rem 1rem;
}
@media screen and (min-width: 768px) {
  .form-box {
    min-height: 820px;
  }
  .post-list,
  .all-post-list {
    grid-template-columns: 1fr 1fr;
  }
  .all-post-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
